<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Teleconmobile.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>557D2FB31F00A4A5003820E9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>557D2FCC1F00A4A5003820E9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>557D2FD71F00A4A5003820E9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
