<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>您父亲的姓名是?</string>
	<string>您母亲的姓名是?</string>
	<string>您配偶的姓名是?</string>
	<string>您父亲的生日是?</string>
	<string>您母亲的生日是?</string>
	<string>您配偶的生日是?</string>
	<string>您的学号(工号)是？</string>
	<string>您的家乡是？</string>
	<string>您的户籍是？</string>
</array>
</plist>
